body {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

#diary-wrapper {
    width: 95%;
}

.diary-content {
    display: flex;
    flex-direction: row;
    width: 95%;
    border-bottom: 2px solid grey
}

.diary-content div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 1.5rem;
}

.diary-content div:first-child {
    width: 75%;
    margin: 1.5rem;
}

.half {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.half:first-child {
    background-color: #b2fba5;
}

.input {
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 15px;
}